os: linux
dist: focal
language: java
jdk: openjdk17
install: true
script: ./travis.sh

addons:
  sonarcloud:
    organization: "jborgers-github"
    token:
      secure: "U299FqcJAMNfblrZF8R/ivqRk7KNdSOdcyWI4h5dgOLlQHj+HHrF2GJB2fOVeaB53snOkCycM/ZQgqTLlS1PU2NUca3TroNXj6jpNK1Erb/TXqFMKK+rmsN+hcxudDYGnQFIVnWy4lsg72jlK3Qvktt0XyfuYjMqQbsp3zwhlxw="

env:
  - TEST=ci
#  - TEST=plugin SQ_VERSION=LATEST_RELEASE[6.7] SJ_VERSION=LATEST_RELEASE[5.14]
#  - TEST=plugin SQ_VERSION=LATEST_RELEASE[7.9] SJ_VERSION=DEV
#  - TEST=plugin SQ_VERSION=LATEST_RELEASE[8.2] SJ_VERSION=DEV
#  - TEST=plugin SQ_VERSION=LATEST_RELEASE[8.9] SJ_VERSION=DEV
  - TEST=plugin SQ_VERSION=LATEST_RELEASE[9.8] SJ_VERSION=DEV
  - TEST=plugin SQ_VERSION=LATEST_RELEASE[9.9] SJ_VERSION=DEV
  - TEST=plugin SQ_VERSION=LATEST_RELEASE[10.1] SJ_VERSION=DEV
  - TEST=plugin SQ_VERSION=DEV SJ_VERSION=DEV
  - TEST=javadoc

cache:
  directories:
    - $HOME/.m2

notifications:
  email:
    - jborgers@jpinpoint.com
    - peter.paul.bakker@stokpop.nl
